html {
}
h1 {
  font-size: 4vw;
  margin-left: 15px;
}
h2 {
  font-size: 3vw;
}
p {
  margin: 0.5vw 0vw;
}
/*
div {
  font-size: 1.8vw;
}
label {
  font-size: 1.8vw;
  width: 80%;
}
*/
strong {
  color: red;
}

